{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div>
    <ul>
        <li>
            <a href="{{ path('filter_list_index') }}">Filter List</a>
        </li>
        <li>
            <a href="{{ path('setting_index') }}">Setting List</a>
        </li>
        <li>
            <a href="{{ path('twitter_content_index') }}">Twitters List</a>
        </li>
    </ul>
</div>

{% endblock %}
